.accordion-container {
    width: -webkit-fill-available;
    color: #fff;
}

.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded=true] {
    border-bottom: 1px solid #0067ff;
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #fff;
    font-size: 2em;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
    transition: all 0.225s ease-in-out;
}

.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
    color: #0067ff;
}

.accordion button:hover::after,
.accordion button:focus::after {
    cursor: pointer;
    color: #0067ff;
    border: 1px solid #0067ff;
}

.accordion button .accordion-title {
    font-weight: 600;
    padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
    display: inline-block;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    right: 0;
    width: 1em;
    height: 1em;
    border: 1px solid;
    border-radius: 50%;
}

.accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.6em;
    height: 0.1em;
    background: currentColor;
}

.accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.1em;
    height: 0.6em;
    background: currentColor;
}

.accordion button[aria-expanded=true] {
    color: #0067ff;
}

.accordion button[aria-expanded=true] .icon::after {
    width: 0;
}

.accordion button[aria-expanded=true]+.accordion-content {
    opacity: 1;
    max-height: 40em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content p {
    color: #fff;
    text-align: left;
    font-size: 2em;
    font-weight: 300;
    margin: 2em 0;
}