@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: rgb(9 5 22);
}

html,
body {
    overflow-x: hidden;
}

html,
body,
.b-section {
    margin: 0;
    padding: 0;
}

.b-container {
    width: 95%;
    margin: auto;
    max-width: 100%;
    min-width: 50%;
    height: 100%;
}

.b-container.b-container_auto-centering {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.b-section.b-section_gradblue {
    height: 100%;
    min-height: 65em;
    background-image: linear-gradient(to bottom, rgba(31 31 96), rgb(9 5 22));
}

.b-section.b-section_gradblue.b-section_gradblue_v1 {
    height: auto;
    min-height: unset;
    background-image: linear-gradient(to bottom, rgb(9 5 22), rgb(31 31 96));
}

.b-section.b-section_gradblue.b-section_gradblue_v1.b-section_gradblue_v1_gradient_reverse {
    background-image: linear-gradient(to bottom, rgb(31 31 96), rgb(9 5 22));
}

.b-section.b-section_2 {
    padding: 5em 0;
    border-radius: 5em;
    background-color: #FFFFFF;
    z-index: 2;
}

.b-section.b-section_2.b-section_2_v1 {
    padding: 5em 0 0 0;
    border-radius: 0;
    background-color: #000000FF;
}

* {
    box-sizing: border-box;
    font-family: "Mont";
    position: relative;
}

.block {
    width: 2em;
    height: 2em;
    background-color: red;
}

.b-img {
    position: relative;
    width: 1em;
    height: auto;
}

.b-img.b-img_quote {
    position: absolute;
    width: 8em;
    height: 8em;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10em;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.b-img.b-img_privilege {
    width: 100%;
    height: 100%;
}

.b-img.b-img_circle {
    width: 3em;
}

.b-img.b-img_efaces {
    position: absolute;
    right: 0em;
    top: -6em;
    width: 12em;
    height: 12em;
}

.b-img.b-img_finger-click {
    position: absolute;
    right: -2em;
    bottom: -1em;
    width: 3em;
    height: 3em;
}

.b-img.b-img_author_ushoulders {
    position: absolute;
    bottom: 0;
    right: 2em;
    margin-left: auto;
    width: 16em;
    filter: drop-shadow(2px 4px 6px #000);
}

.b-img.b-img_logo-lightning {
    position: absolute;
    width: 10em;
    bottom: 2em;
    left: 6em;
    rotate: -10deg;
}

.b-img.b-img_logo {
    width: 5em;
    height: auto;
    transition: all 0.225s ease-in-out;
    cursor: pointer;
}

.b-img.b-img_logo.b-img_logo_v1 {
    width: 10em;
}

.b-img_logo:hover {
    transform: translateY(-0.5em);
}

.b-img.b-img_books {
    width: 12em;
    position: absolute;
    top: -4em;
    right: 0;
    rotate: 45deg;
}

.b-img.b-img_face {
    width: 4.725em;
    height: 4.725em;
}

.b-img.b-img_face.b-img_face_v2 {
    width: 6em;
    height: 6em;
}

.b-img.b-img_face.b-img_face_v1 {
    position: absolute;
    top: -2em;
    right: 0;
}

.b-img.b-img_open-book {
    font-size: inherit;
    position: relative;
    height: 1em;
    padding: 0.1em;
    border-radius: 10em;
    background-color: #ffffff33;
    object-fit: contain;
    margin-bottom: -0.2em;
}

.b-img.b-img_author {
    width: 40em;
    transform: scaleX(-1);
    bottom: 0;
}

.mgtb2-1 {
    margin-top: 2em !important;
    margin-bottom: 1em !important;
}

.mgtb3 {
    margin: 3em 0 !important;
}

.mgt8 {
    margin-top: 8em !important;
}

.mgb1 {
    margin-bottom: 1em !important;
}

.mgb2 {
    margin-bottom: 2em !important;
}

.mgb3 {
    margin-bottom: 3em !important;
}

.mgb0\.5 {
    margin-bottom: 0.5em !important;
}

.mgt1 {
    margin-top: 1em !important;
}

.mgt0\.5 {
    margin-top: 0.5em !important;
}


.pdtb2-1 {
    padding-top: 2em;
    padding-bottom: 1em;
}

.pdt1 {
    padding-top: 1em !important;
}

.pdt3 {
    padding-top: 3em !important;
}

.z2 {
    z-index: 2;
}

.b-text {
    position: relative;
    font-size: 1em;
    width: fit-content;
    height: fit-content;
    color: #FFFFFF;
}

.b-text.b-text_red {
    color: transparent;
    background-image: linear-gradient(0turn, rgba(255, 57, 14, 1) 0%, rgba(236, 74, 20, 1) 100%);
    -webkit-background-clip: text;
}

.b-text.b-text_blue_large {
    color: transparent;
    background: #009dff;
    -webkit-background-clip: text;
    will-change: transform;
}

.b-text.b-text_abs-center {
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translate(-50%, 0);
}

.b-text.b-text_black {
    color: #000000;
}

.b-text.b-text_italic {
    font-style: italic;
}

.b-text.b-text_opacity-0\.6 {
    opacity: 0.6;
}

.b-text.b-text_center {
    text-align: center;
    width: 100%;
}

.b-text.b-text_left {
    text-align: left;
}

.b-text.b-text_5em {
    font-size: 5em;
}

.b-text.b-text_2\.125em {
    font-size: 2.125em;
}

.b-text.b-text_1\.75em {
    font-size: 1.75em;
}

.b-text.b-text_1\.8em {
    font-size: 1.8em;
}

.b-text.b-text_1\.5em {
    font-size: 1.5em;
}

.b-text.b-text_1\.25em {
    font-size: 1.25em;
}

.b-text.b-text_1\.125em {
    font-size: 1.125em;
}

.b-text.b-text_0\.75em {
    font-size: 0.75em;
}

.b-text.b-text_0\.875em {
    font-size: 0.875em;
}

.b-text.b-text_3em {
    font-size: 3em;
}

.b-text.b-text_2\.5em {
    font-size: 2.5em;
}

.b-text.b-text_2em {
    font-size: 2em;
}

.b-text.b-text_300 {
    font-weight: 300;
}

.b-text.b-text_400 {
    font-weight: 400;
}

.b-text.b-text_500 {
    font-weight: 500;
}

.b-text.b-text_600 {
    font-weight: 600;
}

.b-text.b-text_700 {
    font-weight: 700;
}

.b-text.b-text_uppercase {
    text-transform: uppercase;
}

.b-text.b-text_striked {
    text-decoration: line-through;
}

.b-text.b-text_btn-style {
    padding: 0.8em 2em;
    border: 0.1em solid #FFFFFF;
    border-radius: 1em;
    text-transform: uppercase;
}

.vblock {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.vblock.vblock_height-auto {
    height: auto;
}

.vblock.vblock_center {
    align-items: center;
    justify-content: center;
}

.vblock.vblock_50\% {
    width: 50%;
}

.vblock.vblock_100\% {
    width: 100%;
}

.vblock.vblock_v6 {
    width: 100%;
    border-radius: 2em;
    padding: 3em;
    background: linear-gradient(0turn, rgba(255, 57, 14, 0.05) 0%, rgba(236, 74, 20, 0.05) 100%);
}

.vblock.vblock_v5 {
    background-color: #ffffff1A;
    border-radius: 3em;
    padding: 6em 3em 3em 3em;
}

.vblock.vblock_v4 {
    padding: 3em;
    border-radius: 3em;
    background-color: #FFFFFF;
    align-items: flex-start;
}

.vblock.vblock_v4.vblock_v4_v1 {
    height: auto;
    background-color: #009dff;
}

.vblock.vblock_v3 {
    border-radius: 1.5em;
    background-color: #ffffff0D;
    padding: 1.5em 1.5em 3em 1.5em;
    align-items: flex-start;
}

.vblock.vblock_v2 {
    border-radius: 1.5em;
    border: 0.1em solid #ffffff33;
    padding: 1.5em;
    align-items: flex-start;
}

.vblock.vblock_v1.vblock_v1_v1 {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.vblock.vblock_v1 {
    width: auto;
    height: 30em;
    border-radius: 4em;
    padding: 3em;
}

.vblock.vblock_v1.slide_1 {
    background-image: linear-gradient(0.5turn, rgba(255, 78, 78, 1) 0%, rgba(255, 171, 134, 1) 97%);
}

.vblock.vblock_v1.slide_2 {
    background-image: linear-gradient(0.5turn, rgba(200, 78, 255, 1) 0%, rgba(159, 134, 255, 1) 97%);
}

.vblock.vblock_v1.slide_3 {
    background-image: linear-gradient(0.5turn, rgba(39, 227, 67, 1) 0%, rgba(35, 198, 16, 1) 93%);
}

.vblock.vblock_v1.slide_4 {
    background-image: linear-gradient(0.01turn, rgba(235, 198, 33, 1) 5%, rgba(228, 124, 21, 1) 96%);
}

.vblock.vblock_v1.slide_5 {
    background-image: linear-gradient(0.492turn, rgba(78, 197, 255, 1) 3%, rgba(134, 143, 255, 1) 97%);
}

.vblock.vblock_v1.slide_6 {
    background-image: linear-gradient(0.492turn, rgba(240, 46, 40, 1) 3%, rgba(255, 134, 184, 1) 95%);
}

.vblock.vblock_v1.slide_7 {
    background-image: linear-gradient(0.492turn, rgba(240, 40, 168, 1) 3%, rgba(200, 134, 255, 1) 96%);
}

.vblock.vblock_v1.slide_8 {
    background-image: linear-gradient(0.5turn, rgba(33, 128, 235, 1) 0%, rgba(16, 192, 199, 1) 94%);
}

.vblock.vblock_v1.slide_9 {
    background-image: linear-gradient(0.492turn, rgba(51, 51, 81, 1) 3%, rgba(9, 5, 22, 1) 97%);
}

.vblock.vblock_gap {
    gap: 1em;
}

.vblock.vblock_gap_3em {
    gap: 3em;
}

.vblock_70\% {
    width: 70%;
}


.hblock {
    display: flex;
    flex-direction: row;
}

.hblock.hblock_center {
    align-items: center;
    justify-content: center;
}

.vblock_v1.vblock_v1_v1 .hblock.hblock_center {
    align-items: center !important;
    justify-content: center !important;
}

.hblock.hblock_100\% {
    width: 100%;
}

.hblock.hblock_50\% {
    width: 60%;
}

.hblock.hblock_gap {
    gap: 1em;
}

.hblock.hblock_gap_4em {
    gap: 4em;
}

.hblock.hblock_align {
    align-items: center;
}

.hblock.hblock_space-between {
    justify-content: space-between;
}

.b-btn {
    position: relative !important;
    border: none !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.b-btn.b-btn_v1 {
    font-weight: 500;
    font-size: 1.5em !important;
    width: 18.5em;
    height: 4.2em;
    border-radius: 1.5em;
    box-shadow: 0px 10px 40px 10px #009dff33;
    background: #009dff;
    color: #FFF;
    transition: all 0.225s ease-in-out;
    cursor: pointer;
}

.b-btn.b-btn_v1.b-btn_v1_v1 {
    background: linear-gradient(0turn, rgba(255, 57, 14, 1) 0%, rgba(236, 74, 20, 1) 100%);
}

.b-btn.b-btn_v1:hover {
    transform: translateY(-0.5em);
}

.b-btn.b-btn_v1.b-btn_v1_v1 {
    width: 100%;
}














/* ----- ANIMATION CLASSES ----- */
.floating {
    animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -0.1em);
    }

    100% {
        transform: translate(0, 0);
    }
}

.floating_intense {
    animation: floating_intense 4s ease-in-out infinite;
}

@keyframes floating_intense {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -0.5em);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* ----- ANIMATION CLASSES ----- */













/* ----- FONT ----- */
@font-face {
    font-family: "Mont";
    font-weight: 100;
    src: url("../font/Mont/Mont-Hairline.otf");
}

@font-face {
    font-family: "Mont";
    font-weight: 150;
    src: url("../font/Mont/Mont-Thin.otf");
}

@font-face {
    font-family: "Mont";
    font-weight: 200;
    src: url("../font/Mont/Mont-ExtraLight.otf");
}

@font-face {
    font-family: "Mont";
    font-weight: 300;
    src: url("../font/Mont/Mont-Light.otf");
}

@font-face {
    font-family: "Mont";
    font-weight: 400;
    src: url("../font/Mont/Mont-Book.otf");
}

@font-face {
    font-family: "Mont";
    font-weight: 500;
    src: url("../font/Mont/Mont-Regular.otf");
}

@font-face {
    font-family: "Mont";
    font-weight: 600;
    src: url("../font/Mont/Mont-SemiBold.otf");
}

@font-face {
    font-family: "Mont";
    font-weight: 700;
    src: url("../font/Mont/Mont-Bold.otf");
}

/* ----- FONT ----- */















/* ----- CUSTOM ONES ----- */
.span_custom {
    font-weight: 400;
    text-wrap: nowrap;
    /* text-wrap doesn't work for Safari */
    white-space: nowrap;
    /* white-space for Safari */
    position: relative;
    font-size: 30%;
    padding: 1em 2em;
    background-color: #ffffff0f;
    border-radius: 1em;
    bottom: 0.8em;
}

.blue-light {
    position: absolute;
    border-radius: 100em;
    opacity: 0.8;
    height: 25em;
    width: 100%;
    filter: blur(4em);
    background-image: linear-gradient(0turn, #009dff 0%, #050761 100%);
}

.blue-light.blue-light_v2 {
    width: 10em;
    height: 10em;
    top: 50%;
    right: -20%;
    transform: translate(0, -50%);
    opacity: 1;
    filter: blur(3em);
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    border-radius: 3000px;
    opacity: 0.2;
    background-color: #ffffff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transform: translate(-50%, -50%);
}

.divider {
    width: 100%;
    opacity: 0.2;
    background-color: #ffffff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    border-width: 0.1em;
}

.slider {
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 1em 0;
    /* align-items: flex-start; */
}

.slider * {
    align-items: flex-start;
}

.space {
    width: 50vw;
    min-width: 50vw;
}

.blured_white_spot {
    position: absolute;
    top: -18em;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 0;
    width: 25em;
    height: 25em;
    border-radius: 3000px;
    opacity: 0.2;
    background-color: #ffffff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    filter: blur(5em);
}

.label {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 1em 1em 0 2em;
    width: fit-content;
    padding: 1em;
}

.b-cell {
    width: 6em;
    height: auto;
    border-radius: 2em;
    background-color: #ffffff1A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.background-image_grad-blue {
    background-image: linear-gradient(to bottom, #000000FF, rgb(9 5 22));
}

.background-image_grad-blue-rev {
    background-image: linear-gradient(to bottom, rgb(9 5 22), #000000FF);
}

@media (width <=400px) {
    .b-section {
        min-width: 300px !important;
    }
}

@media (width <=80em) {
    * {
        text-align: center;
        align-items: center;
    }


    /* MOBILE */
    .hblock.hblock_reverse_mob {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    .hblock.hblock_mob {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .hblock.hblock_mob_uncentered {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .vblock.vblock_mob {
        flex-direction: row;
        align-items: center;
    }

    .vblock.vblock_wmob {
        width: 100%;
    }

    .vblock.vblock_gap_to_norm_mob {
        gap: 1em;
    }

    /* MOBILE */




    /* CUSTOM ONES */
    #custom_mobile .b-text.b-text_btn-style {
        z-index: 2;
    }

    #custom_mobile {
        top: -10em;
    }

    .b-img.b-img_logo-lightning {
        display: none;
    }

    .b-img.b-img_author {
        width: 30em;
    }

    /* CUSTOM ONES */
}

/* ----- CUSTOM ONES ----- */


































/* VARIATION */
/* >=0px */
/* @media (width >=0px) {
    section {
        font-size: 7px;
    }

    .b-container {
        max-width: 100%;
    }
} */

/* >=350px */
/* @media (width >=350px) {
    section {
        font-size: 8px;
    }

    .b-container {
        max-width: 48em;
    }
} */

/* >=768px */
/* @media (width >=48em) {
    section {
        font-size: 8px;
    }

    .b-container {
        max-width: 64em;
    }
} */

/* >=1024px */
/* @media (width >=64em) {} */

/* >=1280px */
/* @media (width >=80em) {
    section {
        font-size: 9px;
    }

    .b-container {
        max-width: 80em;
    }
} */

/* >=1400px */
/* @media (width >=87.5em) {
    section {
        font-size: 10px;
    }
} */

/* >=1600px */
/* @media (width >=1600px) {
    section {
        font-size: 11px;
    }
} */

/* >=1800px */
/* @media (width >=1800px) {
    section {
        font-size: 12px;
    }
} */

/* >=1920px */
/* @media (width >=120em) {
    section {
        font-size: 13px;
    }
} */

/* >=2160px */
/* @media (width >=2160px) {
    section {
        font-size: 15px;
    }
} */

/* >=2560px */
/* @media (width >=160em) {
    section {
        font-size: 20px;
    }
} */

/* >=3840px */
/* @media (width >=240em) {
    section {
        font-size: 30px;
    }
} */





@media (width >=0px) {
    section {
        font-size: 7px;
    }
    .b-container {
        max-width: 100%;
    }
}
@media (width >=350px) {
    section {
        font-size: 8px;
    }
    .b-container {
        max-width: 48em;
    }
}
@media (width >=48em) {
    section {
        font-size: 12px;
    }
    .b-container {
        max-width: 64em;
    }
}
@media (width >=64em) {}
@media (width >=80em) {
    section {
        font-size: 14px;
    }
    .b-container {
        max-width: 80em;
    }
    #breakpoint_fix {
        font-size: 10px;
    }
}
@media (width >=87.5em) {
    section {
        font-size: 16px;
    }
}
@media (width >=120em) {
    #breakpoint_fix {
        font-size: 16px;
    }
    section {
        font-size: 22px;
    }
}
@media (width >=160em) {
    #breakpoint_fix {
        font-size: 22px;
    }
    section {
        font-size: 28px;
    }
}
@media (width >=240em) {
    #breakpoint_fix {
        font-size: 28px;
    }
    section {
        font-size: 34px;
    }
}