@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    font-size: 10px;
}

a {
    display: flex;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    transition: all 0.225s ease-in-out;
}

a:hover {
    transform: translate(0, -0.2em);
}

.cnum {
    background-color: #000;
    color: #FFFFFF;
    border-radius: 0.2em;
    font-weight: 700;
    margin-right: 0.5em;
    width: 2em;
    padding-left: 0.2em;
}

li {
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    list-style: none;
    padding-bottom: 0.5em;
}

/* b-text */
.b-text {
    position: relative;
    font-size: 1em;
    text-wrap: nowrap;
}

.b-text.b-text_z1 {
    z-index: 1;
}

.b-text.b-text_fit {
    width: fit-content;
}

.b-text.b-texttit {
    position: relative;
    font-weight: 700;
    margin-left: 1em;
    color: #FFFFFF;
    font-size: 3em;
    text-wrap: wrap;
}

.b-text.b-text_mgl1em {
    margin-left: 0.5em;

}

.b-text.b-textw {
    color: #FFFFFF;
}

.b-text.b-text_center {
    text-align: center;
}

.b-text.b-text_1\.5em {
    font-size: 1.5em;
}

.b-text.b-text_1\.2em {
    font-size: 1.2em;
}

.b-text.b-text_2em {
    font-size: 2em;
}

.b-btn {
    height: 4em;
    font-size: 1em;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 4em;
    font-weight: 700;
    width: 20em;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.b-btnv1 {
    font-size: 1em;
    width: -webkit-fill-available;
    height: 3em;
    outline: none;
    border-radius: 0.5em;
    border: 0.1em solid #fff;
    margin: 0;
    padding: 0;
    text-indent: 1.125em;
    background-color: #000000;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 1em;
    transition: all 0.225s ease-in-out;
}

.b-btnv1:hover {
    color: #000000;
    background-color: #FFFFFF;
    border-color: #000000;
}

.b-img.b-img_v2 {
    display: none;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 0);
    width: 20em;
    height: auto;
    filter: drop-shadow(0.2em -0.2em 0px #5BAFE3);
}

.b-text.b-text_bback {
    background-color: #000;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    font-size: 1.2em;
    margin: 0.5em 0;
    color: #ffffff;

}

ul.ul_custom {
    font-size: 1em;
    background-color: #FFFFFF;
    border-radius: 1em;
    padding: 2em;
    padding-top: 1em;
    margin: 0.5em 0;
    width: 100%;
}

input[name="user_email"]::placeholder {
    color: #878787 !important;
}

.square {
    position: absolute;
    top: 2em;
    left: 4em;
    width: 90%;
    height: 50%;
    background-color: #5bafe34d;
}

.b-text.b-text_v1 {
    width: fit-content;
    font-size: 2.5em;
    margin-bottom: 0.2em;
    padding-left: 1em;
    padding-right: 0.5em;
    border-radius: 0 0 0.5em 0;
    background-color: #000000;
    font-weight: 700;
    color: #FFFFFF;
}

.b-text_bold {
    font-weight: 700;
}

.b-column {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.b-column.b-column_fit {
    width: fit-content;
}

.b-column.b-column_center {
    align-items: center;
}

.b-img {
    width: auto;
    height: 100%;
}

.b-img.b-img_logo {
    background: #FFF;
    width: 4em;
    height: 4em;
    object-fit: contain;
    border-radius: 1000em;
}

.b-img.b-img_v3 {
    width: 1.2em;
    height: auto;
    cursor: pointer;
}

.b-section {
    background-color: #5BAFE3;
    position: relative;
}

.b-section.b-section-1 {
    height: 40em;
}

.b-section.b-section_btm {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 6em;
    background-color: #000000;
}

.img-social {
    width: 2em;
}

.b-section.b-section-2 {
    padding: 4em 0;
    background-color: #000000;
    background-size: cover;
    height: 100%;
}

.b-img.b-img_v1 {
    position: absolute;
    bottom: -2px;
    right: 2em;
    width: 20em;
    height: auto;
    filter: drop-shadow(1em 4px 0px #000);
}

/* header */
.header {
    background-color: #5BAFE3;
    height: auto;
    width: 100%;
    padding: 0.5em;
    border: 0.5em solid #FFF;
}

.menu {
    height: 100%;
    padding: 1.7em;
}

#items {
    display: none;
}

/* b-row */
.b-row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.b-row.b-row_v1 {
    position: absolute;
    top: -1em;
    height: fit-content;
    width: 20em;
    justify-content: space-evenly;
    background-color: #000000;
    border: 0.2em solid #FFFFFF;
    padding: 0.5em 1em;
    border-radius: 1em;
}

.b-row.b-row_fit {
    width: fit-content;
    height: fit-content;
}

.b-row.b-row_spacebtw {
    justify-content: space-between;
}

.b-row.b-row_spaceeven {
    justify-content: space-evenly;
}

.header .b-row.show {
    display: flex !important;
    position: fixed;
    z-index: 1;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
}

#cancel.show {
    display: block !important;
}

#cancel {
    display: none;
    position: absolute;
    width: 5em;
    height: 5em;
    top: 1.7em;
    right: 1.7em;
}

.b-input {
    font-size: 1em;
    width: -webkit-fill-available;
    height: 3em;
    outline: none;
    border-radius: 0.5em;
    border: 0.1em solid #000;
    margin: 0;
    padding: 0;
    text-indent: 1.125em;
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
}

.b-input.b-input_mgt1 {
    margin-top: 1em;
}

/* Adaptivity */
@media (max-width: 310px) {
    .b-text.b-text_v1 {
        font-size: 2em;
    }

    body {
        font-size: 10px;
    }

    ul.ul_custom {
        min-width: 22em;
    }

    .b-btnv1 {
        min-width: 22em;
    }
}

@media (min-width: 310px) {
    .b-text.b-text_v1 {
        font-size: 1.9em;
    }

    body {
        font-size: 12px;
    }
}

@media (min-width: 420px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    #items {
        display: flex;
    }

    .menu {
        display: none;
    }

    .b-img.b-img_v1 {
        width: 25em !important;
    }

    .b-section-1 {
        height: 30em;
    }

    .b-section.b-section_btm .b-text.b-text_center {
        margin: 0 !important;
    }
}

@media (max-width: 599px) {
    #items .b-text {
        font-size: 2em;
    }
}

@media (min-width: 800px) {
    body {
        font-size: 16px;
    }

    #choices {
        flex-direction: row;
    }

    .b-column_custom {
        margin: 0 !important;
    }

    .b-column_custom {
        width: 22em;
    }

    #choices {
        justify-content: space-between;
    }

    .b-img.b-img_v2 {
        display: block;
        width: 15em;
    }
}

@media (min-width: 992px) {
    .b-text.b-text_v1 {
        font-size: 2.25em;
    }

    body {
        font-size: 18px;
    }

    .b-img.b-img_v1 {
        width: 28em !important;
    }

    .b-section-1 {
        height: 30em !important;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 22px;
    }

    .b-img.b-img_v2 {
        display: block;
        width: 20em;
    }
}

@media (min-width: 1400px) {
    .b-text.b-text_v1 {
        font-size: 2.5em;
    }
}