@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
    overflow-x: hidden;
}

html,
body,
.b-section {
    margin: 0;
    padding: 0;
}

.b-section.b-section_gradblue {
    height: 100%;
    min-height: 65em;
    background-image: linear-gradient(to bottom, rgba(51, 51, 81, 1), rgb(9 5 22));
}

.b-section.b-section_gradblue.b-section_gradblue_v1 {
    height: auto;
    padding-top: 5em;
    top: -5em;
    min-height: unset;
}

.b-section.b-section_2 {
    padding: 3em 0;
    border-radius: 5em;
    margin-top: -5em;
    background-color: #FFFFFF;
    z-index: 2;
}

* {
    box-sizing: border-box;
    font-family: "Mont";
    position: relative;
}

.block {
    width: 2em;
    height: 2em;
    background-color: red;
}

.b-img {
    position: relative;
    width: 1em;
    height: auto;
}

.b-img.b-img_author_ushoulders {
    position: relative;
    bottom: 0;
    margin-left: auto;
    width: 12em;
}

.b-img.b-img_logo-lightning {
    position: absolute;
    width: 10em;
    bottom: 2em;
    left: 6em;
    rotate: -10deg;
    filter: drop-shadow(0.1em 0.2em 5em rgba(255, 220, 0, 1));
}

.b-img.b-img_logo {
    width: 5em;
    height: auto;
}

.b-img.b-img_books {
    width: 8em;
    position: absolute;
    top: 0;
    right: 0;
    rotate: 45deg;
}

.b-img.b-img_face {
    width: 4.375em;
    height: 4.375em;
}

.b-img.b-img_face.b-img_face_v1 {
    position: absolute;
    top: -2em;
    right: 0;
}

.b-img.b-img_open-book {
    font-size: inherit;
    position: relative;
    height: 1em;
    padding: 0.1em;
    border-radius: 10em;
    background-color: #ffffff0f;
    object-fit: contain;
    margin-bottom: -0.2em;
}

.b-img.b-img_author {
    width: 40em;
    transform: scaleX(-1);
    bottom: 0;
}

.mgtb2-1 {
    margin-top: 2em !important;
    margin-bottom: 1em !important;
}

.mgtb1 {
    margin: 1em 0 !important;
}

.mgb1 {
    margin-bottom: 1em !important;
}

.mgt1 {
    margin-top: 1em !important;
}

.mgt0\.5 {
    margin-top: 0.5em !important;
}

.pdt1 {
    padding-top: 1em !important;
}

.pdt3 {
    padding-top: 3em !important;
}

.b-text {
    position: relative;
    font-size: 1em;
    width: fit-content;
    height: fit-content;
    color: #FFFFFF;
}

.b-text.b-text_yellow_large {
    color: transparent;
    background-image: linear-gradient(0turn, rgba(255, 242, 0, 1) 0%, rgba(255, 220, 0, 1) 100%);
    -webkit-background-clip: text;
    will-change: transform;
}

.b-text.b-text_abs-center {
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translate(-50%, 0);
}

.b-text.b-text_black {
    color: #000000;
}

.b-text.b-text_opacity-0\.6 {
    opacity: 0.6;
}

.b-text.b-text_center {
    text-align: center;
    width: 100%;
}

.b-text.b-text_left {
    text-align: left;
}

.b-text.b-text_5em {
    font-size: 5em;
}

.b-text.b-text_2\.125em {
    font-size: 2.125em;
}

.b-text.b-text_1\.25em {
    font-size: 1.25em;
}

.b-text.b-text_1\.125em {
    font-size: 1.125em;
}

.b-text.b-text_0\.75em {
    font-size: 0.75em;
}

.b-text.b-text_0\.875em {
    font-size: 0.875em;
}

.b-text.b-text_3em {
    font-size: 3em;
}

.b-text.b-text_2em {
    font-size: 2em;
}

.b-text.b-text_300 {
    font-weight: 300;
}

.b-text.b-text_400 {
    font-weight: 400;
}

.b-text.b-text_500 {
    font-weight: 500;
}

.b-text.b-text_600 {
    font-weight: 600;
}

.b-text.b-text_700 {
    font-weight: 700;
}

.b-text.b-text_btn-style {
    padding: 0.8em 2em;
    border: 0.1em solid #FFFFFF;
    border-radius: 1em;
    text-transform: uppercase;
}

.vblock {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.vblock.vblock_50\% {
    width: 50%;
}

.vblock.vblock_v3 {
    border-radius: 1.5em;
    background-color: #ffffff0D;
    padding: 1.5em 1.5em 0 1.5em;
    align-items: flex-start;
}

.vblock.vblock_v2 {
    border-radius: 1.5em;
    border: 0.1em solid #ffffff33;
    padding: 1.5em;
    align-items: flex-start;
}

.vblock.vblock_v1 {
    min-width: 22.5em;
    width: 22.5em;
    height: 22.5em;
    border-radius: 1.5em;
    padding: 1.5em;
}

.vblock.vblock_v1.slide_1 {
    background-image: linear-gradient(0.5turn, rgba(255, 78, 78, 1) 0%, rgba(255, 171, 134, 1) 97%);
}

.vblock.vblock_v1.slide_2 {
    background-image: linear-gradient(0.5turn, rgba(200, 78, 255, 1) 0%, rgba(159, 134, 255, 1) 97%);
}

.vblock.vblock_v1.slide_3 {
    background-image: linear-gradient(0.5turn, rgba(39, 227, 67, 1) 0%, rgba(35, 198, 16, 1) 93%);
}

.vblock.vblock_v1.slide_4 {
    background-image: linear-gradient(0.01turn, rgba(235, 198, 33, 1) 5%, rgba(228, 124, 21, 1) 96%);
}

.vblock.vblock_v1.slide_5 {
    background-image: linear-gradient(0.492turn, rgba(78, 197, 255, 1) 3%, rgba(134, 143, 255, 1) 97%);
}

.vblock.vblock_v1.slide_6 {
    background-image: linear-gradient(0.492turn, rgba(240, 46, 40, 1) 3%, rgba(255, 134, 184, 1) 95%);
}

.vblock.vblock_v1.slide_7 {
    background-image: linear-gradient(0.492turn, rgba(240, 40, 168, 1) 3%, rgba(200, 134, 255, 1) 96%);
}

.vblock.vblock_v1.slide_8 {
    background-image: linear-gradient(0.5turn, rgba(33, 128, 235, 1) 0%, rgba(16, 192, 199, 1) 94%);
}

.vblock.vblock_v1.slide_9 {
    background-image: linear-gradient(0.492turn, rgba(51, 51, 81, 1) 3%, rgba(9, 5, 22, 1) 97%);
}

.vblock.vblock_gap {
    gap: 1em;
}

.vblock_70\% {
    width: 70%;
}


.hblock {
    display: flex;
    flex-direction: row;
}

.hblock.hblock_100\% {
    width: 100%;
}

.hblock.hblock_50\% {
    width: 60%;
}

.hblock.hblock_gap {
    gap: 1em;
}

.hblock.hblock_align {
    align-items: center;
}

.hblock.hblock_space-between {
    justify-content: space-between;
}

.b-btn {
    position: relative !important;
    border: none !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.b-btn.b-btn_v1 {
    font-weight: 500;
    font-size: 1.2em !important;
    width: 18.5em;
    height: 4.2em;
    border-radius: 1em;
    box-shadow: 0px 10px 40px 10px rgba(255, 242, 0, 0.2);
    background-image: linear-gradient(0turn, rgba(255, 242, 0, 1) 0%, rgba(255, 220, 0, 1) 100%);
}

.b-btn.b-btn_v1.b-btn_v1_v1 {
    width: 100%;
}

.floating {
    animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -0.1em);
    }

    100% {
        transform: translate(0, 0);
    }
}

.floating_intense {
    animation: floating_intense 4s ease-in-out infinite;
}

@keyframes floating_intense {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -0.5em);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* Responsive/Adaptive */
@media (width <=400px) {
    .b-section {
        min-width: 300px !important;
    }

    * {
        font-size: 8px;
    }
}

/* custom changes 568px */
@media (400px < width <=35.5em) {
    * {
        font-size: 10px;
    }
}

@media (width <=35.5em) {
    #slider * {
        font-size: 14px;
    }

    .vblock.vblock_v2 {
        font-size: 14px !important;
    }
    .vblock.vblock_v3 {
        font-size: 14px !important;
    }
    .b-img.b-img_author_ushoulders {
        font-size: 14px !important;
    }
    .label {
        font-size: 14px !important;
    }
    .b-img.b-img_books {
        font-size: 14px !important;
    }
}

/* ≥0px  */
@media (width >=0em) {
    .b-container {
        width: 95%;
        margin: auto;
        max-width: 100%;
        min-width: 50%;
        /*  */
        /* background-color: brown; */
        height: 100%;
        /*  */
    }

    .b-container.b-container_auto-centering {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

/* ≥568px  */
@media (width >=35.5em) {
    .b-container {
        max-width: 35em;
    }

    * {
        font-size: 14px;
    }
}


/* ≥768px */
@media (width >=48em) {
    .b-container {
        max-width: 48em;
    }
}

/* ≥1024px */
@media (width >=64em) {
    .b-container {
        max-width: 64em;
    }

    * {
        font-size: 16px;
    }
}

/* ≥1280px */
@media (width >=80em) {
    .b-container {
        max-width: 80em;
    }
}

/* custom changes 1280px */
@media (width <=80em) {
    .hblock.hblock_reverse_mob {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    .hblock.hblock_mob {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .vblock.vblock_wmob {
        width: 100%;
    }

    .b-img.b-img_author {
        bottom: -2em;
        width: 28em;
    }

    * {
        text-align: center;
        align-items: center;
    }

    .b-section.b-section_1 {
        height: auto;
    }

    #custom_mobile {
        top: -10em;
    }

    #custom_mobile .b-text.b-text_btn-style {
        z-index: 2;
    }

    .vblock.vblock_v2 {
        font-size: 24px;
    }
    .vblock.vblock_v3 {
        font-size: 24px;
    }
    .b-img.b-img_author_ushoulders {
        font-size: 24px;
    }
    .label {
        font-size: 24px;
    }
    .b-img.b-img_books {
        font-size: 20px;
    }

    .b-img.b-img_logo-lightning {
        display: none;
    }

}

/* ≥1920px */
@media (width >=120em) {
    * {
        font-size: 22px;
    }
    .b-container {
        max-width: 80em;
    }
}

/* ≥2560px */
@media (width >=160em) {
    * {
        font-size: 28px;
    }
    .b-container {
        max-width: 80em;
    }
}

/* ≥3840px */
@media (width >=240em) {
    * {
        font-size: 36px;
    }
    .b-container {
        max-width: 100em;
    }
}



/* ---- FONT-FACE ---- */
@font-face {
    font-family: "Mont";
    font-weight: 500;
    src: url("./font/Mont/Mont-Regular.otf");
}

@font-face {
    font-family: "Mont";
    font-weight: 700;
    src: url("./font/Mont/Mont-Bold.otf");
}

@font-face {
    font-family: "Mont";
    font-weight: 300;
    src: url("./font/Mont/Mont-Light.otf");
}

@font-face {
    font-family: "Mont";
    font-weight: 600;
    src: url("./font/Mont/Mont-SemiBold.otf");
}


/* CUSTOM */
.span_custom {
    font-weight: 400;
    text-wrap: nowrap;
    /* text-wrap doesn't work for Safari */
    white-space: nowrap;
    /* white-space for Safari */
    position: relative;
    font-size: 1.5rem;
    padding: 0.6em 2em;
    background-color: #ffffff0f;
    border-radius: 1rem;
    bottom: 0.8em;
}

.yellow-light {
    position: absolute;
    border-radius: 100em;
    opacity: 0.4;
    height: 25em;
    width: 100%;
    filter: blur(4em);
    background-image: linear-gradient(0turn, rgb(255 190 0) 0%, rgb(251 255 0) 100%);
}

.yellow-light.yellow-light_v1 {
    bottom: 0;
    height: 5em;
    width: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    filter: blur(5em);
    opacity: 1;
}

.yellow-light.yellow-light_v2 {
    width: 20em;
    height: 20em;
    top: 50%;
    right: -20%;
    transform: translate(0, -50%);
    opacity: 0.2;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    border-radius: 3000px;
    opacity: 0.2;
    background-color: #ffffff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transform: translate(-50%, -50%);
}

.divider {
    width: 100%;
    opacity: 0.2;
    background-color: #ffffff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    border-width: 0.1em;
}

#slider {
    width: 100vw;
    overflow-x: scroll;
    padding: 1em 0;
}

#slider * {
    align-items: flex-start;
}

.space {
    width: 50vw;
    min-width: 50vw;
}

.blured_white_spot {
    position: absolute;
    top: -18em;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 0;
    width: 25em;
    height: 25em;
    border-radius: 3000px;
    opacity: 0.2;
    background-color: #ffffff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    filter: blur(5em);
}

.label {
    position: absolute;
    bottom: 5em;
    background-color: #FFFFFF;
    border-radius: 1em 1em 0 2em;
    width: fit-content;
    padding: 1em;
}